.divintro{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.h1intro{
    font-family: anton, sans-serif;
    color : red;
    font-size: 3em;
    margin-top: 0px;
}

.pintro{
    width:50%;
    font-family: sine, sans-serif;
    font-size: 2em;
    color: white;
    text-align: justify;
}

.pintro2{
    width:80%;

    font-family: sine, sans-serif;
    font-size: 2.5em;
    text-align:center;
    color: white;

}

.aintro{
  position: relative;
  color: red;
      font-size: 2em;

    // text-align: center;
    // font-family: anton, sans-serif;
    // color : red;
    // margin-top: 0px;
    // margin-left:auto;
    // margin-right:auto;
    // text-decoration: none;
}


.aintro {
    display: inline-block;
    position: relative;
    color: red;
    font-size: 2.2em;
    text-decoration: none;

}
  .aintro::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  .aintro:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .aintro::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    top: 0;
    right: 0;
    background-color: red;
    transform-origin: top left;
    transition: transform 0.45s ease-out;
  }
  .aintro:hover::before {
    transform: scaleX(1);
    transform-origin: top right;
  }